@if (document() !== undefined) {
  @let doc = document()!;
  <section class="doc__pages">
    @for (page of doc.pages; track page.number) {
      @let selectionRect = selections()[page.number];
      @let pageAnnotations = annotations()[page.number];
      <article class="doc__page">
        <div
          class="doc__page-frame"
          appDragContainer
          [style.transform]="'scale(' + zoomValue() + ')'"
          style="transform-origin: top left"
          (pointerdown)="startAnnotation(page.number, $event)"
          (dropPosition)="handleDrop(page.number, $event)"
        >
          <img [src]="page.imageUrl" [alt]="'Page ' + page.number" />
          @if (selectionRect) {
            <app-annotation
              class="doc__annotation"
              [annotationId]="'selection-' + page.number"
              [rect]="selectionRect"
              [isSelection]="true"
            ></app-annotation>
          }
          @if (pageAnnotations?.length) {
            @for (annotation of pageAnnotations; track annotation.id) {
              <app-annotation
                appDragElement
                class="doc__annotation"
                [annotationId]="annotation.id"
                [rect]="annotation.rect"
                (click)="$event.stopPropagation()"
                (dblclick)="$event.stopPropagation()"
                (positionChange)="handleAnnotationDrag(page.number, annotation.id, $event)"
                (textChange)="updateAnnotationText(page.number, annotation.id, $event)"
                (resizeStart)="startResizing(page.number, annotation.id, $event)"
                (remove)="handleRemoveAnnotation(page.number, $event)"
              ></app-annotation>
            }
          }
        </div>
      </article>
    }
  </section>
}
