@if (document() !== undefined) {
  @let doc = document()!;
  <section class="doc__pages">
    @for (page of doc.pages; track page.number) {
      @let pageAnnotations = annotations()[page.number];
      <article class="doc__page">
        <div class="doc__page-frame" (dblclick)="handleAddAnnotation(page.number, $event)">
           <img
            [src]="page.imageUrl"
            [alt]="'Page ' + page.number"
            style="user-select: none"
          />
          @if (pageAnnotations?.length) {
            @for (annotation of pageAnnotations; track annotation.id) {
              <app-annotation
                class="doc__annotation"
                [annotationId]="annotation.id"
                [style.left.%]="annotation.position.relativeX * 100"
                [style.top.%]="annotation.position.relativeY * 100"
                (remove)="handleRemoveAnnotation(page.number, $event)"
              ></app-annotation>
            }
          }
        </div>
      </article>
    }
  </section>
}
